.todayInfo{
    border: 1px solid black;
}
.todayInfo .title{
    background-color: rgb(4, 214, 109);
    text-align: center;
    font-size: 80px;
    color: white;
}
.boarder{
    border: 1px solid black;
}
.skinow{
    background-color: rgb(56, 238, 150);
    color:white;
    text-align: center;
}
.dataToday{
    background-color: rgb(0, 204, 105);
    color:white;
}
.hotel{
    background-color: rgb(56, 238, 150);
    color:white;
    text-align: center;
}
.about{
    text-align: center;
    padding-top: 65px;
}
#banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgb(56, 238, 150);
    color:white;
}